 *{
    margin: 0px;
    padding: 0px;
    text-align: center;

}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}


.choices{
   
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 4rem;
   margin-top: 5rem;

}

.choice{
    height: 110px;
   width: 110px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 1rem;

}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}
img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.score-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4rem;
    margin-top: 3rem;
    margin-left: 7rem;
    font-size: 2rem;
}

#user-score,#comp-score{
    font-size: 5rem;
    
}

.msg-container{
    margin-top: 5rem;
    margin-left: 7rem;

}

#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
.computerchoices{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;

}

.Compchoice{
    height: 110px;
   width: 110px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 1rem;
}



#Usertitle{
    background-color: #081b31;
    color: #fff;
    font-size: 1.2rem;
    width: 100px;

  
}

#Computertitle{
    background-color: #081b31;
    color: #fff;
    font-size: 1.2rem;
    width: 100px;



  
}

.highlight {
    background-color: #081b31; /* Highlight color */
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional glowing effect*/
} 

@media (min-width:300px) and (max-width:400px) {

    #msg{
        background-color: #081b31;
        color: #fff;
        font-size: 20px;
        display: inline;
        padding: 0;
        border-radius: 1rem;
    }
}

    
 
    @media (max-width: 768px) {
        .images-container {
          flex-direction: column;
        }
      }